# DATABASE_PORT=
# POSTGRES_PASSWORD=
# POSTGRES_USER=
# POSTGRES_DB=
# POSTGRES_HOST=
# POSTGRES_HOSTNAME=

# Full Neon database URL (asyncpg)
DATABASE_URL='postgresql+asyncpg://neondb_owner:npg_L2SQ9o@ep-little-sea-a18l4az5-pooler.ap-southeast-1.aws.neon.tech/neondb'

## JWT
JWT_SECRET=354a944943aa
JWT_ALGORITHM=HS256

# AWS S3
AWS_S3_BUCKET_NAME=trackit-tahjib
AWS_S3_REGION=ap-south-1
AWS_ACCESS_KEY_ID=AKINJPV4J
AWS_SECRET_ACCESS_KEY=Do32qmcBypb2z8xv

# Docker Configuration
PORT=8000
ENVIRONMENT=production
